<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="Ability" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="New Ability" placeholder="Ability Name"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">Ability</h4>
                <span class="item-status">Ability</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    Ability
                </li>
                <li>
                    <input type="text" name="data.requirements" value="{{data.requirements}}" placeholder="{{ localize 'DND5E.Requirements' }}"/>
                </li>
                <li>
                    <input type="text" name="data.source" value="{{data.source}}" placeholder="{{ localize 'DND5E.Source' }}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "DND5E.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "DND5E.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/dnd5e/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">

            <h3 class="form-header">{{ localize "DND5E.FeatureUsage" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "systems/dnd5e/templates/items/parts/item-activation.html"}}


            <h3 class="form-header">{{ localize "DND5E.FeatureAttack" }}</h3>

            {{!-- Item Action Template --}}
            {{> "systems/dnd5e/templates/items/parts/item-action.html"}}
        </div>
    </section>
</form>
